/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Noto Sans TC", "Apple LiGothic Medium", "Microsoft JhengHei", "LiHei Pro Medium", "STHeiti", "Microsoft YaHei", arial;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "Noto Sans TC", "Apple LiGothic Medium", "LiHei Pro Medium", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", arial;
  font-size: 1rem;
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1248px;
  margin: 0 auto;
}

.header {
  padding: 3rem 0;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  width: 142px;
  height: 39px;
  top: 5px;
  margin-right: 6rem;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .main-nav li {
  padding: 0 1.5rem;
}
.header .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.header .sub-nav .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.header .sub-nav .control::after {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background: #1E1E1E;
}
.header .sub-nav a {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-indent: -9999px;
}
.header .sub-nav a.ic-cart {
  background: url(../images/ic-cart.svg) no-repeat;
  background-size: cover;
}
.header .sub-nav a.ic-user {
  background: url(../images/ic-person.svg) no-repeat;
  background-size: cover;
}
.header .sub-nav a.ic-filter {
  background: url(../images/ic-filterRight.svg) no-repeat;
  background-size: cover;
}