/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

* {
  position: relative;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1248px;
  margin: 0 auto;
}

.wrap {
  font-size: 1.125rem;
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  margin-bottom: 48px;
}
.section-title h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2;
}
.section-title span {
  color: rgba(30, 30, 30, 0.5);
}

.header {
  padding: 3rem 0;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 142px;
  height: 39px;
  top: 5px;
  margin-right: 6rem;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.header .main-nav {
  display: flex;
  flex: 1;
  align-items: center;
}
.header .main-nav li {
  padding: 0 1.5rem;
}
.header .main-nav li a {
  color: rgba(30, 30, 30, 0.5);
}
.header .main-nav li a.active, .header .main-nav li a:hover {
  color: rgb(30, 30, 30);
}
.header .sub-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .sub-nav .control {
  display: flex;
  gap: 3rem;
}
.header .sub-nav .control::after {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background: #1E1E1E;
}
.header .sub-nav a {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-indent: -9999px;
}
.header .sub-nav a:hover {
  opacity: 0.75;
}
.header .sub-nav a.ic-cart {
  background: url(../images/ic-cart.svg) no-repeat;
  background-size: cover;
}
.header .sub-nav a.ic-user {
  background: url(../images/ic-person.svg) no-repeat;
  background-size: cover;
}
.header .sub-nav a.ic-filter {
  background: url(../images/ic-filterRight.svg) no-repeat;
  background-size: cover;
}

.banner {
  padding: 3rem;
  height: 512px;
  border-radius: 24px;
  background: #C1DCDC url(../images/banner-img.png) right bottom no-repeat;
}

.bn-box {
  width: 512px;
}
.bn-box h2 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}
.bn-box .num {
  display: flex;
  gap: 3rem;
}
.bn-box .num .num-item {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bn-box .num .num-item:first-child {
  border-right: 1px solid rgb(30, 30, 30);
  padding-right: 3rem;
}
.bn-box .num .num-item p {
  font-size: 2rem;
  line-height: 3;
}

.search {
  width: 449px;
  height: 64px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 8px;
}
.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.125rem;
}
.search button {
  width: 48px;
  height: 48px;
  background: #C1DCDC url(../images/ic-search.svg) center no-repeat;
  border-radius: 12px;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
}
.search button:hover {
  opacity: 0.9;
}

.selling {
  margin-top: 97px;
  margin-bottom: 113px;
  flex-direction: row;
}
.selling .info {
  width: 256px;
}
.selling .info h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.selling .info p {
  width: 196px;
  margin-top: 12px;
  margin-bottom: 24px;
  color: rgba(30, 30, 30, 0.5);
  line-height: 1.5;
}
.selling .info a {
  width: 168px;
  padding: 12px 14px 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #C1DCDC;
  border-radius: 8px;
}
.selling .info a:hover {
  opacity: 0.9;
}
.selling .info a::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/ic-arrowRight.svg) center no-repeat;
}
.selling .pd-group {
  display: flex;
  gap: 48px;
}
.selling .pd-group li a {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.selling .pd-group li a:hover {
  opacity: 0.9;
}
.selling .pd-group li a span {
  color: rgba(30, 30, 30, 0.5);
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-bottom: 165px;
}
.about-content .about-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.about-content .about-item img {
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
}
.about-content .about-item h4 {
  font-weight: 700;
}
.about-content .about-item p {
  margin-top: 12px;
  color: rgba(30, 30, 30, 0.5);
  text-align: center;
  line-height: 1.5;
}

.full-bg {
  margin-top: 48px;
  background: #C1DCDC;
}

.categories-group {
  display: flex;
  justify-content: space-between;
  margin-top: -48px;
}
.categories-group li:nth-child(2) {
  margin-top: 96px;
}
.categories-group li a {
  text-align: center;
  font-weight: 700;
  line-height: 2;
}
.categories-group li a:hover {
  opacity: 0.9;
}

.describe {
  width: 350px;
  margin: 12px auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.describe p {
  color: rgba(30, 30, 30, 0.5);
  text-align: center;
  line-height: 1.5;
}
.describe a {
  width: 150px;
  padding: 12px 14px 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border-radius: 8px;
  color: rgb(30, 30, 30);
}
.describe a::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/ic-arrowRight.svg) center no-repeat;
}
.describe a:hover {
  color: rgba(30, 30, 30, 0.75);
  opacity: 0.95;
}

.customers-head {
  margin-top: 96px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.customers-head h3 {
  width: 460px;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.pagination ul {
  display: flex;
  gap: 6px;
}
.pagination ul li {
  cursor: pointer;
  width: 12px;
  height: 6px;
  border-radius: 12px;
  background: #D9D9D9;
}
.pagination ul li.select {
  width: 48px;
  background: #C1DCDC;
}

.customers-group {
  display: flex;
  gap: 48px;
  padding-bottom: 230px;
  justify-content: flex-end;
}
.customers-group .card {
  width: 800px;
  background: #C1DCDC;
  padding: 48px 48px 0 48px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.customers-group .card p {
  color: rgba(30, 30, 30, 0.75);
  line-height: 1.5;
}
.customers-group .card .detail {
  display: flex;
}
.customers-group .card .detail .name {
  margin-top: 54px;
}
.customers-group .card .detail .name p {
  color: rgb(30, 30, 30);
  font-weight: 700;
}
.customers-group .card .detail .name span {
  color: rgba(30, 30, 30, 0.5);
  font-size: 0.75rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
.footer .social {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.footer .social .logo {
  width: 107px;
  height: 29px;
  margin-bottom: 24px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.footer .social p {
  margin-bottom: 24px;
  color: rgba(30, 30, 30, 0.5);
  line-height: 1.5;
}
.footer .social .social-btn {
  display: flex;
  gap: 24px;
}
.footer .social .social-btn a {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid rgba(30, 30, 30, 0.5);
  line-height: 48px;
  text-indent: -9999px;
}
.footer .social .social-btn a:hover {
  opacity: 0.75;
}
.footer .social .social-btn a.ic-facebook {
  background: url(../images/ic-facebook.svg) center no-repeat;
}
.footer .social .social-btn a.ic-instagram {
  background: url(../images/ic-instagram.svg) center no-repeat;
}
.footer .social .social-btn a.ic-twitter {
  background: url(../images/ic-twitter.svg) center no-repeat;
}
.footer .sitmap {
  display: flex;
  gap: 48px;
}
.footer .sitmap .group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer .sitmap .group h6 {
  font-size: 1.125rem;
  font-weight: 700;
}
.footer .sitmap .group a {
  color: rgba(30, 30, 30, 0.5);
}
.footer .sitmap .group a:hover {
  color: rgba(30, 30, 30, 0.75);
}

.copyright {
  margin-top: 50px;
  padding-bottom: 48px;
  color: rgba(30, 30, 30, 0.5);
}