/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

* {
  position: relative;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1248px;
  margin: 0 auto;
}

.wrap {
  font-size: 1.125rem;
}

.header {
  padding: 3rem 0;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 142px;
  height: 39px;
  top: 5px;
  margin-right: 6rem;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.header .main-nav {
  display: flex;
  flex: 1;
  align-items: center;
}
.header .main-nav li {
  padding: 0 1.5rem;
}
.header .main-nav li a {
  color: rgba(30, 30, 30, 0.5);
}
.header .main-nav li a.active, .header .main-nav li a:hover {
  color: rgb(30, 30, 30);
}
.header .sub-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .sub-nav .control {
  display: flex;
  gap: 3rem;
}
.header .sub-nav .control::after {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background: #1E1E1E;
}
.header .sub-nav a {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-indent: -9999px;
}
.header .sub-nav a.ic-cart {
  background: url(../images/ic-cart.svg) no-repeat;
  background-size: cover;
}
.header .sub-nav a.ic-user {
  background: url(../images/ic-person.svg) no-repeat;
  background-size: cover;
}
.header .sub-nav a.ic-filter {
  background: url(../images/ic-filterRight.svg) no-repeat;
  background-size: cover;
}

.banner {
  padding: 3rem;
  height: 512px;
  border-radius: 24px;
  background: #C1DCDC url(../images/banner-img.png) right bottom no-repeat;
}

.bn-box {
  width: 512px;
}
.bn-box h2 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}
.bn-box .num {
  display: flex;
  gap: 3rem;
}
.bn-box .num .num-item {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bn-box .num .num-item:first-child {
  border-right: 1px solid rgb(30, 30, 30);
  padding-right: 3rem;
}
.bn-box .num .num-item p {
  font-size: 2rem;
  line-height: 3rem;
}

.search {
  width: 449px;
  height: 64px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 8px;
}
.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.125rem;
}
.search button {
  width: 48px;
  height: 48px;
  background: #C1DCDC url(../images/ic-search.svg) center no-repeat;
  border-radius: 12px;
  text-indent: -9999px;
  border: none;
  outline: none;
}