//color
$primary: #C1DCDC;
$black-100: rgba(30,30,30,100%);
$black-75: rgba(30,30,30,75%);
$black-50: rgba(30,30,30,50%);
$white: #ffffff;

//font
$font-sm: 0.75rem; //12px
$font-base: 1.125rem; //18px
$font-lg: 2rem; //32px
$font-xl: 4rem; //64px
