@import 'reset';
@import 'theme';
@import 'mixin';

//Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

//基本元素
html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

* {
    position: relative;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1248px;
    margin: 0 auto;
}
.wrap {
    font-size: $font-base;
    font-weight: 400;
}

//section
.section {
    display: flex;
    flex-direction: column;
}
.section-title{
    text-align: center;
    margin-bottom: 48px;
    h3 {
        font-size: $font-lg;
        font-weight: 700;
        line-height: 2;
    }
    span {
        color: $black-50;
    }
}

// header
.header {
    padding: 3rem 0;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 142px;
        height: 39px;
        top: 5px;
        margin-right: 6rem;
        text-indent: -9999px;
        background: url(../images/logo.png) no-repeat;
        background-size: contain;
    }

    .main-nav {
        display: flex;
        flex: 1;
        align-items: center;

        li {
            padding: 0 1.5rem;
            a {
                color: $black-50;
                &.active, &:hover {
                    color: $black-100;
                }
                
            }
        }
    }

    .sub-nav {
        display: flex;
        align-items: center;
        gap: 3rem;

        .control {
            display: flex;
            gap: 3rem;

            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 24px;
                background: #1E1E1E;
            }
        }


        a {
            display: block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-indent: -9999px;

            &.ic-cart {
                background: url(../images/ic-cart.svg) no-repeat;
                background-size: cover;
            }

            &.ic-user {
                background: url(../images/ic-person.svg) no-repeat;
                background-size: cover;
            }

            &.ic-filter {
                background: url(../images/ic-filterRight.svg) no-repeat;
                background-size: cover;
            }
        }
    }
}

//banner
.banner {
    padding: 3rem;
    height: 512px;
    border-radius: 24px;
    background: $primary url(../images/banner-img.png) right bottom no-repeat;
}
.bn-box{
    width: 512px;
   h2 {
    margin-bottom: 1.5rem;
    font-size: $font-xl;
    font-weight: 800;
    line-height: 1;
   } 
   .num {
    display: flex;
    gap: 3rem;
    .num-item{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:first-child{
            border-right: 1px solid $black-100;
            padding-right: 3rem;
        }
        p {
            font-size: $font-lg;
            line-height: 3;
        }
    }
   }
}
.search {
    width: 449px;
    height: 64px;
    background: $white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 8px;
    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: $font-base;
    }
    button {
        width: 48px;
        height: 48px;
        background: $primary url(../images/ic-search.svg) center no-repeat;
        border-radius: 12px;
        text-indent: -9999px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

//selling
.selling {
    margin-top: 97px;
    margin-bottom: 113px;
    flex-direction: row;
    .info {
        width: 256px;
        h3 {
        font-size: $font-lg;
        font-weight: 700;
        line-height: 1.5;
        }
        p {
            width: 196px;
            margin-top: 12px;
            margin-bottom: 24px;
            color: $black-50;
            line-height: 1.5;
        }
        a {
            width: 168px;
            padding: 12px 14px 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: $primary;
            border-radius: 8px;
            &::after {
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../images/ic-arrowRight.svg) center no-repeat;
            }
        }
    }
    .pd-group {
        display: flex;
        gap: 48px;
        li a {
            display: flex;
            flex-direction: column;
            gap: 12px;
            span {
                color: $black-50;
            }
        }
    }
}

//about 
.about-content{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 165px;
    .about-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        img {
            width: 96px;
            height: 96px;
            margin-bottom: 24px;
        }
        h4 {font-weight: 700;}
        p {
            margin-top: 12px; 
            color: $black-50;
            text-align: center;
            line-height: 1.5;
        }
    }
}

//categories-group
.full-bg {
    margin-top: 48px;
    background: $primary;
    padding-bottom: 100px;
}
.categories-group{
    display: flex;
    justify-content: space-between;
    margin-top: -48px;
    li {
        &:nth-child(2) {
            margin-top: 96px;
        }
        a {
            text-align: center;
            font-weight: 700;
            line-height: 2;
        }
    }
}
.describe {
    width: 350px;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    p {
        color: $black-50;
        text-align: center;
        line-height: 1.5;
    }
    a {
        width: 150px;
        padding: 12px 14px 12px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: $white;
        border-radius: 8px;
        color: $black-100;
        &::after {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/ic-arrowRight.svg) center no-repeat;
        }
    }
}